* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width-reference: 90rem;
  --height-reference: 64rem;
  --grid-sides: 7rem;
  --grid-top: 5.5rem;
  --primary-dark: #87986a;
  --primary: #b5c99a;
  --primary-light: #e9f5db;
  --primary-light-linear: linear-gradient(
    180deg,
    #fcfcfc 0%,
    var(--primary-light) 100%
  );
  --secondary-dark: #de80ff;
  --secondary: #e8a5ff;
  --secondary-light: #f5d8ff;
  --body-text: #272727;
  --secondary-body-text: #bcbcbc;
  --grey-light: #efefef;
}

h1 {
  font: 800 2.5rem "Nunito", sans-serif;
  color: var(--body-text);
}

h2,
input {
  font: 600 2rem "Nunito", sans-serif;
  color: var(--secondary-body-text);
}

h3 {
  font: 400 2rem "Nunito", sans-serif;
  color: var(--primary-dark);
}

p {
  font: 400 2rem "Nunito", sans-serif;
  color: var(--body-text);
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
}

.App {
  display: flex;
}
